<%= erb :search_bar %>
</div>
<br/>

<%= gravatar_tag @user.email, :size => 200 %>


<h1><%= @user.username %></h1>
<% get_other_users_tweets(@user.username).each do |tweet| %>


<br/>
  <div class="tweet_box">
    <% if tweet.class == Retweet %>
    <p><em>Requack</em></p>
      <p class="users"><%= tweet.tweet.user.username %></p>
      <p class="usertweet"><%= tweet.created_at.strftime("%F") %></p>
      <p class="usertweet"><%= tweet.content %></p>
    <% elsif tweet.class == Tweet %>
      <p><em>Quack</em></p>
      <p class="users"><%= @user.username %></p>
      <p class="usertweet"><%= tweet.created_at.strftime("%F") %></p>
      <p class="usertweet"><%= tweet.content %></p>
      <form action = '/retweet/<%= tweet.id %>' method = 'post'>
        <button type = "submit">Requack</button>
      </form>
    <%end%>
	</div>
<% end %>