<%= erb :search_bar %>
</div>
<br/>
<h1><%= @user.username %></h1>
<% @user.tweets.reverse.each do |tweet| %>
<br/>
	<div class="tweet_box">
		<p><%= @user.username %></p>
		<p><%= tweet.created_at.strftime("%F") %></p>
		<p><%= tweet.content %></p>
    <form action = '/retweet/<%= tweet.id %>' method = 'post'>

      <button type = "submit">Requack</button>
    </form>
	</div>
<% end %>