<%= erb :search_bar %>
<h1>Hello <%=@user.username %>!</h1>
<div id="new_tweet">
	<h2>Compose new Quack</h2>
	 <%= erb :new_tweet_form %> <!-- This is a partial to new_tweet_form  -->
</div>
<br/>
<% get_my_tweets.each do |tweet| %>
<br/>
	<div class="tweet_box">
  <% if tweet.class == Retweet %>
    <p><%= tweet.tweet.user.username %></p>
  <% elsif tweet.class == Tweet %>
    <p><%= @user.username %></p>
  <%end%>
		<p><%= tweet.created_at.strftime("%F") %></p>
		<p><%= tweet.content %></p>
	</div>
<% end %>
<br>


