<%= erb :search_bar %>
<h1>Hello <%=@user.username %>!</h1>
<%= gravatar_tag @user.email, :size => 200 %>

<br>
<button><a href="/users/<%=@user.id%>/followers">Followers</a></button>
<br>
<button><a href="/users/<%=@user.id%>/followings">Follows</a></button>
<br>
<button><a href="/users/<%=@user.id%>/relation">Follow <%=@user.username%>!</a></button>

<div id="new_tweet">
	<h2>Compose new Quack</h2>
	 <%= erb :new_tweet_form %> <!-- This is a partial to new_tweet_form  -->
</div>
<br/>

<% if params[:error] %>
  <p>You entered too many characters. Max of 140.</p>
<% end %>

<br>
<% get_tweets.each do |tweet| %>
	<div class="tweet_box">
		<p class="users"><%= @user.username %></p>
		<p class="usertweet"><%= tweet.created_at.strftime("%F") %></p>
		<p class="usertweet"><%= tweet.content %></p>
	</div>
<% end %>



