<%= erb :search_bar %>
<h1>Hello <%=@user.username %>!</h1>
<%= gravatar_tag @user.email, :size => 200 %>
<div id="new_tweet">
	<h2>Compose new Quack</h2>
	 <%= erb :new_tweet_form %> <!-- This is a partial to new_tweet_form  -->
</div>
<<<<<<< HEAD
<br/>

<% if params[:error] %>
  <p>You entered too many characters. Max of 140.</p>
<% end %>

<br>
<% get_tweets.each do |tweet| %>
	<div class="tweet_box">
		<p class="users"><%= @user.username %></p>
		<p class="usertweet"><%= tweet.created_at.strftime("%F") %></p>
		<p class="usertweet"><%= tweet.content %></p>
	</div>
<% end %>


