<%= erb :search_bar %>

<h1 class="user">Hello <%= @user.username %>!</h1>
<div id="gravatar">
<%= gravatar_tag @user.email, :size => 200 %>
</div>

<br>
<button><a href="/users/<%=@user.id%>/followers">Followers</a></button>
<br>
<button><a href="/users/<%=@user.id%>/followings">Follows</a></button>
<br>
<button><a href="/users/<%=@user.id%>/relation">Follow <%=@user.username%>!</a></button>

<div id="new_tweet">
	<h2>Compose new Quack</h2>
	 <%= erb :new_tweet_form %> <!-- This is a partial to new_tweet_form  -->
</div>
<<<<<<< HEAD
<br/>

<% if params[:error] %>
  <p>You entered too many characters. Max of 140.</p>
<% end %>

<br>
<% get_tweets.each do |tweet| %>
=======

<br/>
<% get_my_tweets.each do |tweet| %>
<br/>
>>>>>>> master
	<div class="tweet_box">
  <% if tweet.class == Retweet %>
  <p><em>Requack</em></p>
    <p><%= tweet.tweet.user.username %></p>
  <% elsif tweet.class == Tweet %>
  <p><em>Quack</em></p>
    <p><%= @user.username %></p>
  <%end%>
		<p><%= tweet.created_at.strftime("%F") %></p>
		<p><%= tweet.content %></p>

	</div>
<% end %>
<br>





